---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About The Good Shepherd Trust"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 25 2025')}
>
	<p>
		What is the Ordinariate?
	</p>

	<p>
		The Personal Ordinariates are equivalent to dioceses made by Pope Benedict XVI for
		Anglicans to enter into full communion with Rome and for Roman Catholics who were 
		nurtured in the Anglican tradition or whose faith has been renewed by the 
		Ordinariate’s liturgy and evangelizing mission.
		Ordinariate Parishes and communities retain the important elements of the noble 
		and ancient Anglican tradition (Ecclesia Anglicana), but are fully Roman Catholic. 
		Without excluding liturgical celebrations according to the Roman Rite, we celebrate 
		the Holy Eucharist and the other Sacraments according to the liturgical books proper 
		to the Anglican tradition, which have been approved by the Holy See. Through books 
		such as Divine Worship: The Missal, and Divine Worship: The Daily Office, we share 
		our distinctive commitment to praising God in the eloquence of the Prayer Book 
		tradition.
	</p>
	
	<p>
		What is Evensong?
	</p>

	<p>
		Evensong is the Evening Prayer of the Divine Worship: Daily Office. It is equivalent 
		to a combination of Vespers and Compline in the ordinary form of the Divine Office, 
		the Liturgy of the Hours.
		It is based closely on the Evensong of the 1662 Book of Common Prayer. Those who pray
		it with us are praying the Divine Office, which is part of the public prayer of the Church
		and "is truly the voice of the Bride herself addressed to her Bridegroom. 
		It is the very prayer which Christ himself together with his Body addresses to the 
		Father." (Catechism of the Catholic Church, paragraph 1174)
	</p>

	<p>
		Who is this for?
	</p>

	<p>
		The Good Shepherd Trust is open to anyone who wishes to join us. We were created
		because the only Ordinariate parish in Oshawa, the Church of the Good Shepherd was
		closed. Many people who were not part of the Ordinariate joined us for Mass on Sundays,
		and now everyone is free to join us for Evensong as well. Praying Evensong together
		gives us the chance to preserve our unique Anglican patrimony as Catholics and to 
		share this with others, as Pope Benedict XVI instructed us to.
	</p>
</Layout>
