---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>The Good Shepherd Trust</h1>
			<p>
				The Good Shepherd Trust is the Para-Ordinariate Catholic Community for 
				Oshawa, Ontario.
			</p>
			<p>
				We are part of Domus Anglicana, a Canada-wide, lay-led society who's mission is to bring 
				community and prayer to all of the Ordinariate members in Canada who are 
				without an Ordinariate parish in their city or town. More information can be 
				found at domusanglicana.com.
			</p>
			<p>Evensong is held every Sunday at 5PM in the parish hall of St. Gregory the Great 
			Parish in Oshawa.</p>

			<p>
				Anyone is welcome to join us for Evensong, whether they are part of the
				Ordinariate or not. Evensong is part of the Divine Office, and is prayed according to the
				Divine Worship: Daily Office: Commonwealth Edition, a version of the
				Divine Office approved by the Catholic Church for public use and the standard
				version used by Ordinariate communities in Canada.
			</p>

			<p>
			Contact us at oshawaordinariate@gmail.com 
			</p>

		</main>
		<Footer />
	</body>
</html>
